# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment
.env
.env.*

# Node
node_modules/

# React
frontend/dist/

# Java
backend/target/

# Docker
docker-data/

# Coverage
coverage/